.countdown-container {
  max-width: 900px;
  min-height: 300px;
  margin: 50px auto;
  background-color: rgb(166, 250, 250);
  border-radius: 16px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.title{
  margin  : 0;
}
